body * {
    /*background-color: #ccc;*/
    /*border: solid black 1px;*/
    margin: 0;
    padding: 0;
}


body {
    background-image: url("../img/congruent_pentagon.png");
}

.page-container {}

.navigation {
  background: url(../img/greenSmall.jpg);
  /*background-color: rgba(255, 255, 255, .7);*/
  padding: 15px;
}

.title {
  font-family: 'Unkempt', cursive;
  text-align: center;
}

.nav {
  position: absolute;
  right: 30px;
  top: 20px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:86px;
  text-decoration:none;
  text-align:center;
  text-shadow:2px 2px 0px #cc9f52;
}

.home:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}

.home:active {
  position:relative;
  top:1px;
}

.clear {
  clear: both;
}

.flashcard {
  /*border: solid 2px green;*/
  width: 600px; 
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.indexCard {
  background-image: url(../img/indexCard.jpg);
  width: 50%;
  top: 0;
  left: 0;
}

.flashcard-content {
  /*background-color: white;*/
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto; 
}

.side1, .side2 {
  background-color: white;
  padding: 20px;
  border-radius: 35px;
  margin: 20px;
  width: 560px;
  height: 350px;
  text-align: center;
}

.big {
  margin-top: 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
}

.small {
  margin-top: 30px;
  max-width: 250px;
  max-height: 150px;
  border-radius: 20px;
}

.side2-text {
  margin-top: 50px;
}

.answer-block{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.answer1, .answer2, .motivation {
  padding-top: 50px;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  margin-left: 30px;
  text-align: center;
}
.answer1 {
  background-color: white;
  float: left;
}
.motivation {
  float: left;
}
.answer2 {
  background-color: white;
  float: left;
}

footer {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background-image:url('../img/header-white-c-paper.jpg');
}