body * {
    margin: 0;
    padding: 0;
    font-family: 'Graduate', serif;
}

body {
    background-color: gray;
}

.page-container {}

.navigation {
  background: url(../img/greenSmall.jpg);
  /*background-color: rgba(255, 255, 255, .7);*/
  padding: 15px;
  margin-bottom: 40px;
}

.title {
  text-align: center;
}

.clear {
  clear: both;
}

.fc-container {
  height: 500px;
  border: solid 1px white;
}

.flashcard, .side1, .side2 {
  background: url(../img/white-c-paper.jpg);
  border-radius: 40px 40px 0px 0px;
  width: 600px;
  height: 350px;
  margin: auto;
  text-align: center;
}

.big {
  margin-top: 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
}

.small {
  margin-top: 30px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
}

.side2-text {
  margin-top: 50px;
}

.answer-block{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.answer1, .answer2, .motivation {
  margin-top: 2px;
  padding-top: 50px;
  width: 299px;
  height: 60px;
  text-align: center;
}
.answer1 {
  margin-right: 1px;
  background: url(../img/white-c-paper.jpg);
  float: left;
  border-radius: 0 0 0 40px;
}

.answer2 {
  background: url(../img/white-c-paper.jpg);
  margin-left: 1px;
  float: left;
  border-radius: 0 0 40px 0;
}

.motivation {
  background: url(../img/white-c-paper.jpg);
  width: 600px;
  margin: auto;
  border-radius: 0 0 40px 40px;
  margin-top: 2px;
}

.finish {
  clear: both;
  background: url(../img/white-c-paper-yellow.jpg);
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}


footer {
  width: 100%;
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background-image:url('../img/header-white-c-paper.jpg');
}