*{
  font-family: 'Graduate', cursive;
  /*font-family: 'Unkempt', cursive;*/
  font-size: 24px;
  
}

div .container {
    float : right;
    width: 500px;
    min-height: 500px;
    margin-right: 50px;
    background-color: white;
    border-radius: 30px;
    float: right;
}

body {
  background-color: #6e6e6e;
  margin: 30px;
  background-image:url('../img/white-c-paper.jpg');
}

h1, footer {
  text-align: center;
  font-size: 56px;
  background-image:url('../img/header-white-c-paper.jpg');
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 200px;
    height: 100px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 84px;
    border-radius: 25px;
    font-family: 'Graduate', cursive;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    background-color: #7CFC00;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-color: magenta;
}

/*///////////////////////////////////////////////////*/


.mediaObject {
  overflow: hidden;
}

.about {
  float: left;
  max-width: 440px;
  background-color:rgba(255, 255, 255, .7); 
  border-radius: 15px;
  padding: 15px;
}  

.logIn {
  margin-left: 640px;
  max-width: 440px;
  background-color:rgba(255, 255, 255, .7);
  min-height: 300px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

a {
  border: 2px solid #ccc;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #7CFC00;
}
