*{
  font-family: 'Graduate', cursive;
  font-size: 24px;
  margin: 0px;
}

body {
  background-color: #6e6e6e;
  margin: auto;
  background-image:url('../img/white-c-paper-blue.jpg');
  width: 960px;

}

h1, footer {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  max-height: 125px; 
  background-image:url('../img/header-white-c-paper.jpg');
  clear: both;
  margin-top: 30px;
}

.mediaObject {
  overflow: hidden;
  margin: auto;
}

.about {
  float: left;
  max-width: 440px;
  min-height: 425px;
  background-color:rgba(255, 255, 255, .7); 
  border-radius: 15px;
  padding: 15px;
}  

h4 {
  padding: 10px;
}

.logIn {
  margin-left: 570px;
  max-width: 440px;
  background-color:rgba(255, 255, 255, .7);
  min-height: 425px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.register {
  padding: 50px;
}

a, button {
  border: 2px solid #ccc;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #7CFC00;
  color: black;
}

/*///////////////////////////////////////////////////*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 200px;
    height: 100px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    margin-top: -55px;
    margin-left: -25px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
    font-family: 'Graduate', cursive;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    background-color: #7CFC00;
    font-size: 84px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-color: magenta;
    font-size: 60px;
}

/*-----------Modals--------------*/
.registerModal{
    background-color: #8ED0E8;
    min-height: 300px;
    width: 400px;
    margin: 100px auto;
    border-radius: 15px;
    display: none;
    z-index: 1000;
}

.registerContent{
    text-align: center;
    color: #FFF;
    font-size: 25px;
}

h3{
    background-color: #D6D9D2;
    height: 30px;
    color: black;
    border-radius: 15px 15px 0 0 ;
    padding: 5px;
    margin-bottom: 23px;
}

.overlay{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0, 0.50);
}

.Register p{
  font-size: 16px;
  padding: 3px;
  color: #000;
  margin-bottom: 13px;
}

/*FLASHCARD PAGE CSS  ***********************************/

.clear {
  clear: both;
}

.fc-container {
  height: 500px;
  border: solid 1px white;
}

.flashcard, .fc-side1, .fc-side2 {
  background: url(../img/white-c-paper.jpg);
  border-radius: 40px 40px 0px 0px;
  width: 600px;
  height: 350px;
  margin: auto;
  text-align: center;
}

.fc-big {
  margin-top: 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
}

.fc-small {
  margin-top: 30px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
}

.fc-side2-text {
  margin-top: 20px;
  font-size: 14px;
}

.fc-answer-block{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.fc-answer1, .fc-answer2, .fc-motivation {
  margin-top: 2px;
  padding-top: 50px;
  width: 299px;
  height: 60px;
  text-align: center;
}
.fc-answer1 {
  margin-right: 1px;
  background: url(../img/white-c-paper.jpg);
  float: left;
  border-radius: 0 0 0 40px;
}

.fc-answer2 {
  background: url(../img/white-c-paper.jpg);
  margin-left: 1px;
  float: left;
  border-radius: 0 0 40px 0;
}

.fc-motivation {
  background: url(../img/white-c-paper.jpg);
  width: 600px;
  margin: auto;
  border-radius: 0 0 40px 40px;
  margin-top: 2px;
}

.fc-finish {
  clear: both;
  background: url(../img/white-c-paper-yellow.jpg);
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
