*{

    font-family: 'Graduate', cursive;
    font-size: 24px;
}

body {
    background-image: url('../img/white-c-paper-blue.jpg');
}

h1, footer {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  max-height: 125px; 
  background-image:url('../img/header-white-c-paper.jpg');
}

div h1 span {
    font-size: 56px;
}

div .cardCreator {
    margin: auto;
}

div .main {
    margin: auto;
}

div .container {
    width: 450px;
    min-height: 500px;
    margin-left: 500px;
    background-color: white;
    border-radius: 30px;
}

.deckdd select{
    border-radius: 5px;
    background-color: lightblue;
    font-weight: bold;
    width: 300px;
    margin-bottom: 10px;
}

.left {
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

textarea {
    margin-top: 10px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    font-family: 'Unkempt', cursive;
}

.fc_front {
    width: 300px;
    height: 200px;
    padding: 30px;
    text-align:center;

    background-color: lightblue;
}

.fc_back {
    width: 300px;
    height: 200px;
    padding: 30px;
    text-align:center;
    background-color: #F75454;
}

.hidden {
    display: none;
}