body {
    background-image: url("congruent_pentagon.png");

}

div .container {
    border : solid 2px black;
    float : right;
    width: 500px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, .7);
    float: right;
}

.deckdd select{
    border-radius: 5px;
    background-color: lightblue;
    font-weight: bold;
    width: 300px;
    margin-bottom: 10px;
}

.left {
    float: left;
}

textarea {
    padding-top: 90px;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    font-family: 'Coming Soon', cursive;
}

.fc_front {
    background-image: ; 
    background-color: lightblue;
}

.fc_back {
    background-image: ; 
    background-color: #F75454;
}

.hidden {
    display: none;
}