body * {
    margin: 4px;
    /*background-color: #ccc;*/
    /*border: solid black 1px;*/
}


body {
    background-image: url("congruent_pentagon.png");
}

.page-container {}

body .navigation {
  background-color: white;
}

.title {
  margin-left: 100px;
  float: left;
}

.nav {
  margin-top: 40px;
  float: right;
  margin-right: 100px;
}

.clear {
  clear: both;
}

.flashcard {

}

.flashcard-content {
  background-color: white;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto; 
  width: 600px; 
}

.side1, .side2 {
  border-radius: 35px;
  margin: 20px;
  width: 560px;
  height: 350px;
  text-align: center;
}

.big {
  margin-top: 30px;
  width: 450px;
  height: auto;
  border-radius: 30px;
}

.small {
  margin-top: 30px;
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.side2-text" {
  margin-top: 50px;
}

.answer-block{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.answer1, .answer2, .motivation {
  padding-top: 50px;
  width: 150px;
  height: 100px;
  border-radius: 20px;
  margin-left: 30px;
  text-align: center;
}
.answer1 {
  background-color: white;
  float: left;
}
.motivation {
  float: left;
}
.answer2 {
  background-color: white;
  float: left;
}

