body * {
    margin: 10px;
    /*background-color: #ccc;*/
    border: solid black 1px;
}


body {
    background-image: url("congruent_pentagon.png");
}

.page-container {}

.title {
  float: left;
}

.nav {
  margin-top: 40px;
  float: right;
  margin-right: 40px;
}

.clear {
  clear: both;
}

.flashcard {
  background-color: white;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 400px;  
}

.flashcard-content {
  /*background-image: url(img/lynx.jpg);*/
}
