body * {

    margin: 10px;
}


body {
    background-color: white;
}

.front, .back {
    width: 300px;
    height: 200px;
    border: solid black 2px;
}

.container {
    width: 300px;
    height: 100px;
    border: solid black 2px;
}

