

body {
    background-image:url('congruent_pentagon.png');
    margin: 30px;
}

h1 {
    text-align: center;
}

.mediaObject {
    overflow: hidden;
}

.about {
    float: left;
    max-width: 440px;
    background-color:rgba(255, 255, 255, .7); 
    border-radius: 15px;
}

.logIn {
    margin-left: 640px;
    max-width: 440px;
    background-color:rgba(255, 255, 255, .7);
    min-height: 500px;
    border-radius: 15px;
}